@tailwind base;
@tailwind components;
@tailwind utilities;
/* Añadir estilos personalizados para los asientos */
/* Añadir estilos personalizados para los asientos */
.seat {
    width: 25px;
    height: 25px;
    margin: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.seat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Añadir estilos personalizados para el desplegable */
.seat-options {
    z-index: 50; /* Asegurarse de que esté al frente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra */
    border-radius: 8px; /* Bordes redondeados */
    width: 200px; /* Aumentar el tamaño del desplegable */
}

.seat-options label {
    margin-bottom: 0.5rem; /* Espacio entre el label y el input */
}

.seat-options input,
.seat-options select {
    padding: 0.5rem; /* Añadir padding */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    margin-bottom: 1rem; /* Espacio entre los inputs */
}

.seat-options input:focus,
.seat-options select:focus {
    outline: none; /* Quitar outline */
    border-color: #3182ce; /* Cambiar color del borde al enfocar */
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* Añadir sombra al enfocar */
}

[x-cloak] { display: none !important; }

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}